:root {
    --body-bg: #ffffff;
    --foreground: #FFFFFF;
  
    --dashNav-bg: #EEF0FF;
  
    --input-field: #F6F6F6;
  
    --dash-clr1: #F5F9FF;
    --dash-clr2: #FFEFE4;
    --dash-clr3:  #FEEFFF;
    --dash-clr4:  #FFFFF5;
  
    --nav-height: 100px;
    --nav-active-border-clr:#6B8AFF;
    --nav-active-bg-clr: #D8DEFF;

    --headerBar-clr: #D1D7FE;

    --pending-clr: #E2E2E2;
    --declined-clr: #FFBEBE;
    --active-clr: #FFEBB2;
    --completed-clr: #D8FEA3;

    --gen-border-radius: 10px;
  
    --blur-clr: #0060FA;
    --inactive-grey-clr: #494949;
  
    --gen-border-clr: #D0D0D0;
  
    --large-inline-padding: 8%;
    --small-inline-padding: 5%;
  
    --orange-text-clr: #EE9F0C;
    --dark-text-clr: #000000;
  
    --font-urb: var(--font-u);
  
    --primary-gradient-clr: linear-gradient(180deg, #B4079D 0%, #FFCC70 146.9%);
    --plum-gradient-clr: linear-gradient(107.33deg, #D1D4FF 70.75%, rgba(143, 125, 153, 0.3) 98.12%);

    /*** VOLARA WEB-APP VARIABLES ***/
    --light-darkbg-clr: #252220;
    --darkbg-clr: #110903;
}
  
  
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-u);
    color: var(--dark-text-clr);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: 400;
}
  
  a {
    color: inherit;
    text-decoration: none;
  }

button{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

input{
    background-color: var(--input-field);
    border: 1px solid var(--gen-border-clr);
}
  
  @media screen and (max-width: 600px) {
    body {
      font-size: 12px;
    }
  
    * {
      transition: none;
    }
  }
  